@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&display=swap');

:root{
  font-family: "Heebo", sans-serif;
  --mainBg : #F1F1F1;
  --secondaryBg: #DDE4E6;
  --weatherBg: #27737D;
  --input: #FFFFFF;
  --inputTxt: #363636;
  --degrees: #EFEFEF;
  --weatherHeading: #E8F1F2;
  --timeColor: #A8C6CB;
  --paragraphColor: #707070;
  --button: #046B3B;
}

body{
  padding: 0;
  margin: 0;
}